<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <title>Factura de
        <%= invoiceSelected.service %>
    </title>
</head>

<body>
    <div class="container-md">
        <%- include("../partials/navbar") %>
            <main>
                <ul class="list-group" style="display: inline">
                    <li class="list-group-item">
                        <%= invoiceSelected.service %>
                    </li>
                    <li class="list-group-item">$
                        <%=invoiceSelected.total %>
                    </li>
                    <li class="list-group-item">
                        <%=invoiceSelected.begin.toISOString().split("T")[0].split("-").toString().replace(",","-").replace(",","-")
            %>
                    </li>
                    <li class="list-group-item">
                        <%=invoiceSelected.end.toISOString().split("T")[0].split("-").toString().replace(",","-").replace(",","-")
            %>
                    </li>
                    <% if (invoiceSelected.isPayed) { %>
                        <li class="list-group-item">Pagada</li>
                        <% } else {%>
                            <li class="list-group-item">Aún no pagada</li>
                            <% }%>
                </ul>
                <!-- <ul class="list-group" style="display: inline">
                    <%for (const name in debtors) { %>
                        <li class="list-group-item">
                            <%= name%>: $
                                <%= debtors[name]%>
                        </li>
                        <% }%>
                </ul> -->
                <ul class="list-group" style="display: inline">
                    <%debtors.forEach((roomie) => { %>
                        <li class="list-group-item">
                            <%= roomie.name%>: $
                                <%= amounts[0]%>
                                    <% amounts.shift() %>
                        </li>
                        <% })%>
                </ul>
                <button style="margin-top: 2px" class="btn btn-success">
          Pagar factura
        </button>
                <a href="/apartments/<%=invoiceSelected.apartmentID%>/invoices "><button style="margin-top: 2px" class="btn btn-success">
            Volver atrás
          </button></a
        >
      </main>
    </div>
  </body>
</html>