<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <title>Facturas</title>
</head>

<body>
    <div class="container-md">
        <%- include("../partials/navbar") %>
            <main>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Servicio</th>
                            <th scope="col">Total</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Fin</th>
                            <th scope="col">Pagado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% invoices.forEach((invoice) =>{ %>

                            <tr>
                                <th scope="row">
                                    <a href="invoices/<%= invoice._id %> " style="text-decoration: none">
                                        <%= invoice.service%>
                                    </a>
                                </th>

                                <td>$
                                    <%= invoice.total%>
                                </td>
                                <td>
                                    <%=
                invoice.begin.toISOString().split("T")[0].split("-").toString().replace(",","-").replace(",","-")%>
                                </td>
                                <td>
                                    <%=
                invoice.end.toISOString().split("T")[0].split("-").toString().replace(",","-").replace(",","-")%>
                                </td>
                                <td>
                                    <% if (invoice.isPayed === true) { %> Pagada
                                        <% } else {%> Aún no ha sido pagada
                                            <% } %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <a href="invoices/new"><button type="button" class="btn btn-secondary">
            Nueva factura
          </button></a
        >
        <a href="/apartments/<%=apartmentID%> "
          ><button style="margin-top: 2px" class="btn btn-success">
            Volver atrás
          </button></a
        >
      </main>
    </div>
  </body>
</html>