<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <title>
        <%= apartmentSelected.address.slice(0,20) %>
    </title>
</head>

<body>
    <div class="container-md">
        <%- include("../partials/navbar") %>
            <ul class="list-group" style="display: inline">
                <li class="list-group-item">
                    <%= apartmentSelected.address %>
                </li>
            </ul>
            <a href="<%= apartmentSelected._id %>/roomies">
                <button style="margin-top: 2px" class="btn btn-success">
          Roomies
        </button></a>
            <a href="<%= apartmentSelected._id %>/invoices">
                <button style="margin-top: 2px" class="btn btn-success">
          Facturas
        </button></a>
    </div>
</body>

</html>